---
import BaseLayout from "../layouts/BaseLayout.astro";
import Mart4Carousel from "../components/Mart4-Carousel.astro";
const base = import.meta.env.BASE_URL;
---
<BaseLayout>
    <div class="p-10 text-center">
        <h1 class="text-5xl pb-10">MART 4</h1>
        <Mart4Carousel />
        <a href={`${base}services#store`} 
            class="m-10 inline-block bg-gradient-to-r from-green-900 to-green-700 hover:from-green-800 hover:to-green-600 text-white font-semibold px-8 py-3 rounded-xl shadow-md transition duration-300">
            Back To Services
        </a>
    </div>
</BaseLayout>